ul.task-list {
  padding-left: 40px;
}
ul.task-list > li.task-list-item {
  list-style-type: none;
}
ul.task-list > li.task-list-item > input.task-list-item-checkbox {
  margin-left: -28px;
  margin-right: 5px;
}
